@font-face {
    font-family: 'commodore';
    src: url('./assets/Cfont.TTF');
}

/*#CFont{font-family: 'commodore';}*/
body{
    background-color: cornflowerblue;
}

.title{
    font-family: 'commodore'; color: white; 
    display: block;text-align: center;
}
.title > h1 {font-size: 5vw;}
.title > c {display: block;text-align: left;padding-left: 2%;padding-bottom: 2%; font-size: 2.5vw;}
.title > c >b{animation-name: curs; animation-duration: 1s;animation-iteration-count: infinite;}

@keyframes curs {
    0%{opacity:1;}
    50%{opacity:1;}
    51%{opacity: 0;}
    100%{opacity: 0;}
}

.menu{
    text-align: center;
    list-style:none ;
    font-family: 'commodore';
    
}
.menu > li{
    display: inline-block;
    font-size: 150%;
    font-size: 2.5vw;
    padding-right: 3%;
    text-align: center;
    cursor: pointer;
    
}

.menu > li > a { 
    color: white; 
    text-decoration: none;
}


